:root {
    --background: #4A4A48;
    --elevated: #A4C2A5;
    --font: #F1F2EB;
    --accent: #566246;

    background-color: var(--background);
    color: var(--font);
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 2rem;
}

h1 {
    margin-top: 0;
    letter-spacing: 0.2rem;
    text-align: center;
    font-size: 2.5rem;
    color: var(--elevated);
}

form {
    background-color: var(--elevated);
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 5px;
    color: var(--background);
}

.form-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

input {
    width: 10rem;
    height: 1.7rem;
    padding: 0 0.5em;
    outline-style: none;
    border-style: none;
    border-radius: 5px;
    color: var(--background);
}

select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background-color: #fafafa;
    width: 10rem;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
    background-position: 100%;
    background-repeat: no-repeat;
    border-style: none;
    border-radius: 5px;
    outline-style: none;
    padding: 0.5rem;
    border-radius: 5px;
    color: var(--background);
    font-size: 0.9rem;
}

button {
    width: 9rem;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.4rem;
    color: var(--font);
    background-color: var(--accent);
    border-radius: 5px;
    border-style: none;
}

button:hover, select:hover {
    cursor: pointer;
}