:root {
    --background: #121212;
    --elevated: #3f3f3f;
    --lighter: #8d8d8d;
    --card: #282828;
    --font: #ffffff;
    --accent: #8fcc85;

    background-color: var(--background);
    color: var(--font);
    font-family: "Plus Jakarta Sans", -apple-system, "Segoe UI", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 2rem;
}

h1 {
    margin-top: 0;
    text-align: center;
    font-size: 2.5rem;
    color: var(--accent);
}

form, .card {
    padding: 1.5rem;
    display: flex;
    font-size: 1rem;
    border-radius: 10px;
}

form {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background-color: var(--elevated);
    color: var(--font);
    margin-bottom: 2rem;
}

.form-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

input {
    width: 10rem;
    height: 2rem;
    padding: 0 0.5em;
    font-size: 0.9rem;
    outline-style: none;
    border-style: none;
    border-radius: 5px;
    color: var(--background);
    font-family: 'Plus Jakarta Sans', -apple-system, "Segoe UI", sans-serif;
}

select {
    appearance: none !important;
    background-color: var(--font);
    width: 10rem;
    height: 2rem;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
    background-position: 100%;
    background-repeat: no-repeat;
    border-style: none;
    border-radius: 5px;
    padding: 0.5rem;
    border-radius: 5px;
    color: var(--background);
    font-size: 0.9rem;
}

button {
    width: 8rem;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.4rem;
    color: var(--background);
    background-color: var(--accent);
    border-radius: 10px;
    border-style: none;
}

button:hover, select:hover {
    cursor: pointer;
}

.container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    flex-direction: column;
    background-color: var(--card);
    color: var(--font);
    width: 300px;
    height: 200px;
    overflow-wrap: break-word;
    justify-content: space-between;
}

p {
    margin: 0.5rem;
}

.title {
    font-size: 1.3rem;
    font-weight: 600;
}

.author {
    font-size: 0.8rem;
    font-weight: 300;
}

.removeBtn {
    background-color: var(--lighter);
    background-image: url("icons/delete.svg");
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    display: flex;
    background-position: center;
}

.statusBtn {
    color: var(--card);
}

.btns {
    display: flex;
    gap: 1rem;
}